<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.itdn.mall.dao.OrderListMapper">
  <resultMap id="BaseResultMap" type="top.itdn.mall.entity.OrderList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_no" jdbcType="BIGINT" property="order_no" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="shipping_id" jdbcType="INTEGER" property="shipping_id" />
    <result column="payment" jdbcType="DECIMAL" property="payment" />
    <result column="payment_type" jdbcType="INTEGER" property="payment_type" />
    <result column="postage" jdbcType="INTEGER" property="postage" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="payment_time" jdbcType="TIMESTAMP" property="payment_time" />
    <result column="send_time" jdbcType="TIMESTAMP" property="send_time" />
    <result column="end_time" jdbcType="TIMESTAMP" property="end_time" />
    <result column="close_time" jdbcType="TIMESTAMP" property="close_time" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.itdn.mall.entity.OrderList">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_list (order_no, user_id, shipping_id, 
      payment, payment_type, postage, 
      "status", payment_time, send_time, 
      end_time, close_time, create_time, 
      update_time)
    values (#{order_no,jdbcType=BIGINT}, #{user_id,jdbcType=INTEGER}, #{shipping_id,jdbcType=INTEGER}, 
      #{payment,jdbcType=DECIMAL}, #{payment_type,jdbcType=INTEGER}, #{postage,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{payment_time,jdbcType=TIMESTAMP}, #{send_time,jdbcType=TIMESTAMP}, 
      #{end_time,jdbcType=TIMESTAMP}, #{close_time,jdbcType=TIMESTAMP}, #{create_time,jdbcType=TIMESTAMP}, 
      #{update_time,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="top.itdn.mall.entity.OrderList">
    update order_list
    set order_no = #{order_no,jdbcType=BIGINT},
      user_id = #{user_id,jdbcType=INTEGER},
      shipping_id = #{shipping_id,jdbcType=INTEGER},
      payment = #{payment,jdbcType=DECIMAL},
      payment_type = #{payment_type,jdbcType=INTEGER},
      postage = #{postage,jdbcType=INTEGER},
      "status" = #{status,jdbcType=INTEGER},
      payment_time = #{payment_time,jdbcType=TIMESTAMP},
      send_time = #{send_time,jdbcType=TIMESTAMP},
      end_time = #{end_time,jdbcType=TIMESTAMP},
      close_time = #{close_time,jdbcType=TIMESTAMP},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, order_no, user_id, shipping_id, payment, payment_type, postage, "status", 
    payment_time, send_time, end_time, close_time, create_time, update_time
    from order_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_no, user_id, shipping_id, payment, payment_type, postage, "status", 
    payment_time, send_time, end_time, close_time, create_time, update_time
    from order_list
  </select>
</mapper>