<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace指定和哪个Mapper映射器接口对应 -->
<mapper namespace="com.exam.mapper.AdminDao">
	<!-- 定义SQL语句 -->	
    <select id="findByNameAndPassword" resultType="com.exam.entity.Admin">
         select * from admin where name=#{name, jdbcType=VARCHAR} and password=#{password, jdbcType=VARCHAR}
    </select>
 

  
</mapper>